#rect{
	position: absolute;
	width: 400px;
	height: 200px;
	background: #ccc;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -200px;
}
#left-up{
	width: 50px;
	height: 50px;
	border-bottom-right-radius: 50px;
	background: yellow;
}
#right-down{
	position: absolute;
	width: 50px;
	height: 50px;
	border-top-left-radius: 50px;
	background: yellow;
	bottom: 0px;
	right: 0px;
}